/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Load Samarkan font */
@font-face {
  font-family: 'Samarkan';
  src: url('./assets/fonts/SAMAN.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Optional: automatically apply Samarkan to all <h1> */
@layer base {
  h1 {
    @apply font-samarkan;
  }
}
